<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.autodim</string>
    <key>ProgramArguments</key>
    <array>
        <string>__INSTALL_PATH__/auto-dim.sh</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>AUTO_DIM_TIMEOUT</key>
        <string>120</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/auto-dim.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/auto-dim.log</string>
</dict>
</plist>
